BOT_TOKEN=8170384586:AAGLkBC_12xtzFmY6X0gmvs2JWtG4pvaJMs
BOT_LANGUAGE=uz
TIMEZONE=Asia/Tashkent
WEBHOOK=False 
WEBHOOK_URL=https://smart-food-back.onrender.com/
DATABASE_URL=sqlite:///database.db 
PAYME_TOKEN=371317599:TEST:1740549200011
CLICK_TOKEN=371317599:TEST:1740546139453
PORT=8000
VIDEO_CHANNEL_ID=-1002312782001
VIDEO_MESSAGE_ID=6
ADMIN_ID=6589960007
LINK_CHANNEL_ID=@itasdas
